<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script src="angular/angular.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src="angular-resource/angular-resource.js"></script>

    <script src="ngTable/dist/ng-table.js"></script>
    <script src="angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>


    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="ngTable/dist/ng-table.css">
</head>
<body ng-app="myApp">
<input type="hidden" id="role" value="<%=user.role%>">
<input type="hidden" id="username" value="<%=user.username%>">
<div class="header-bar" ng-controller="headerController">
    <div class="sidebar-title">ATC<sup>&copy;</sup></div>
    <div class="role">My Role : <%= user.role %></div>
    <div class="title">{{getActiveMenu().title}}</div>
    <div class="logout">
        <a href="/logout" class="btn btn-danger">
            <i class="fa fa-power-off "></i>
        </a>
    </div>
</div>

<section ng-controller="mainController">
    <div class="leftSideBar">
        <ul>
            <li ng-repeat="menu in menuItems" ng-class="{active : isActive(menu)}">
                <a href="#{{menu.route}}">
                    <span class="fa {{menu.icon}}"></span>
                    {{menu.name}}
                </a>
            </li>
        </ul>
    </div>
    <div id="content" ng-view class="main-content"></div>

</section>


<script src="js/app.js"></script>
<script src="js/services/menuService.js"></script>
<script src="js/services/productService.js"></script>
<script src="js/services/unitService.js"></script>
<script src="js/services/firmService.js"></script>

<script src="js/controllers/maincontroller.js"></script>
<script src="js/controllers/headercontroller.js"></script>
<script src="js/controllers/productManagercontroller.js"></script>
<script src="js/controllers/purchaseManagercontroller.js"></script>
<script src="js/controllers/firmController.js"></script>

</body>
</html>
