<div id="editPurchase" class="purchase">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="cancel()">×</button>
        <h3> Edit Purchase </h3>
    </div>

    <div class="modal-body">
        <div>
            <label for="purchaseDate">Purchase Date</label>
            <input name="purchaseDate" ng-model="model.date" id="purchaseDate" type="text">
        </div>
        <br>
        Purchased Products
        <div class="addMore" title="Add more units" ng-click="addProduct()">
            <i class="fa fa-plus-circle"></i>
        </div>
        <hr>
        <div>
            <table class="productList">
                <thead>
                <th> Product</th>
                <th> Unit</th>
                <th> Rate</th>
                <th> Qty</th>
                <th> Total</th>
                </thead>
                <tbody>
                <tr ng-repeat="product in model.productList">
                    <td>
                        <ui-select ng-model="product.product" on-select="displayUnits($item, $model, $index)"
                                   theme="select2" class="form-control" title="Select product">
                            <ui-select-match placeholder="Select or search product in the list...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="product in products | filter: $select.search">
                                <div ng-bind-html="product.name"></div>
                                <small ng-bind-html="product.brandName"></small>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td>
                        <select ng-model="product.unit"
                                ng-options="unit as unit for unit in product.availableUnits"></select>
                    </td>
                    <td><input numeric min="0" decimals="2" ng-model="product.rate" type="text"/></td>
                    <td><input numeric min="0" decimals="0" ng-model="product.qty" type="text"/></td>
                    <td>{{product.rate * product.qty}}</td>
                    <td ng-if="$index > 0">
                        <div class="remove" title="Remove unit" ng-click="$parent.removeProduct($index)">
                            <i class="fa fa-minus-circle"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <label> Total Purchase :: </label> <strong> {{ getTotal() }}</strong>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="editPurchase()">Save</button>
    </div>

</div>
