<div id="editProduct" ng-init="init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="cancel()">×</button>
        <h3> Edit Product </h3>
    </div>

    <div class="modal-body">
        <label>Product Code : </label> {{model.productId}}
        <div>
            <label for="productName">Product Name</label>
            <input name="productName" ng-model="model.name" id="productName" type="text">
        </div>

        <div>
            <label for="brandName">Brand Name</label>
            <input id="brandName" name="brandName" ng-model="model.brandName" type="text">
        </div>

        <div>
            <label for="firmName">Firm</label>
            <select id="firmName" ng-model="model.firm" ng-options="firm.name for firm in firms"></select>
        </div>

        <label id="fileUploadContainer" for="editImageInput" class="upload-link">
            <span class="link-style"><i class="fa fa-upload"></i> Change Icon</span>
            <span class="image-box drag-box hide" id="dragBox">
                 <input id="editImageInput" name="file" value="" type="file" accept="image/*" image="image/*"/>
            </span>
        </label>
        <img id="editProductIcon" class="product-icon" alt="no icon available" src={{model.iconURL}}>

        <br>
        Price Settings
        <div class="addMore" title="Add more units" ng-click="addPriceList()">
            <i class="fa fa-plus-circle"></i>
        </div>
        <hr>
        <div>
            <table class="priceList">
                <thead>
                <th> Unit</th>
                <th> Retail Price</th>
                <th> WholeSale Price</th>
                <th> In Stock Qty</th>
                <th ng-if="displayOthers"> Map Unit</th>
                <th ng-if="displayOthers"> Map Qty</th>
                </thead>
                <tbody>
                <tr ng-repeat="price in model.priceList">
                    <td><select ng-model="price.unit" ng-options="unit as unit for unit in standardUnits"></select>
                        <div ng-show="price.unit === 'other'"><input type="text" ng-model="price.unitName"></div>
                    </td>
                    <td><input type="text" ng-model="price.retailPrice"></td>
                    <td><input type="text" ng-model="price.wholeSalePrice"></td>
                    <td><input type="text" ng-model="price.inStockQty"></td>
                    <td ng-show="price.unit === 'other'"><select ng-model="price.mappedUnit"
                                                                 ng-options="unit as unit for unit in standardUnits | filter:'!other'"></select>
                    </td>
                    <td ng-show="price.unit === 'other'"><input type="text" ng-model="price.mappedQty"></td>
                    <td ng-if="$index > 0">
                        <div class="remove" title="Remove unit" ng-click="$parent.removePriceList($index)">
                            <i class="fa fa-minus-circle"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="editProduct()">Save</button>
    </div>
</div>
